.about
  %h1 I design, develop, and deliver web applications. Let's take a closer look...

  = image_tag "kyle-ries.png"

  %h2 DESIGN
  %p I have a strong grasp of design practices and methods. I feel very strongly that a great design tells a story about the subject and leads the consumer to act: Buy My Product, Read My Blog, Donate Now. Leveraging design frameworks (Bootstrap, RailsThemes) and/or custom layouts and visuals, I provide tremendous value in telling your story on the web.

  %h2 DEVELOP
  %p I have a passion for coding. I'm specifically attracted to the Ruby on Rails framework and ecosystem. I'm a Behavior Driven Development proponent and I am not shy about including clients very closely in the development process. Every project I work on is deployed on the web from Day 1 for rapid feedback.

  %h2 DELIVER
  %p A lot of great developers don't reach their potential because they aren't good at the 'other stuff.' This is where I differentiate myself. I can communicate at all levels of an organization and I've been described as "one of the easiest coder-guy-type-fellas to work with". As a client, you will appreciate my positive attitude and ability to work with anyone. I take tremendous pride in my work and I do everything within my power to exceed expectations. I'm not satisfied until my clients are more than satisfied.