.about
  %h1 Hi, I'm Kyle. I design, develop, and deliver web applications. Let's take a closer look...

  = image_tag "kyle-ries.png"

  %h2 DESIGN
  %p I designed this site. I have a strong grasp of design best practices and methods, but I'm not a designer by trade. Naturally, each design effort has it's price, but let's be honest - designers are a luxury. When that luxury is out of reach, I can leverage design frameworks (Bootstrap, RailsThemes) or produce custom designs (like this) to reduce cost while still providing great value.

  %h2 DEVELOP
  %p Ok, now let's talk development! I have a passion for coding. I'm specifically attracted to the Ruby on Rails framework and ecosystem. I'm a Behavior Drive Development proponent and I am not shy about including clients very closely in the development process. Every project I work on is deployed on the web from Day 1 to enable instant client feedback.

  %h2 DELIVER
  %p A lot of great developers don't reach their potential because they aren't good at the 'other stuff.' I'm not the best developer in the world, but I can communicate at all levels of an organization (C-Suite, project management, users, testers, etc). I take tremendous pride in my work and I do everything within my power to exceed expectations, because to be honest - I'm not satisfied until ny clients are more than satisfied.