@import "brand";

.briefs {
	background: url(image-path("natural_paper.png")) repeat 0 0;
	width: 80%;
	margin: auto;
	margin-top: 0em;
	-webkit-box-shadow: inset 0px 0px 6px 4px rgba(35, 35, 35, .5);
    box-shadow: inset 0px 0px 6px 4px rgba(35, 35, 35, .5);
  h1 {
    text-align: center;
    color: $black;
    font-size: 4em;
    font-family: $accent-font;
    margin-bottom: 15px;
    margin-top: 0em;
  }

  h6 {
    color: grey;
    font-size: 2em;
    font-family: $body-font;
    margin: 0;
    margin-left: 1.1em;

  }


  h4 {
    text-align: left;
    color: $black;
    font-size: 1.5em;
    font-family: $accent-font;
    margin: 0.3em;
    padding-top: 0.5em;
    border-bottom: 1px solid $satin;
    clear: both;

    &:last-child {
    	margin-bottom: 2em;
    }
  }

  ul {
    margin: 1em;
    list-style: none;
    float: left;
    li {
      padding-right: 10px;
      cursor: pointer;
      margin-bottom: 1.5em;

      &:last-child { margin-bottom: 0.5em; }
    }
  }	

  #brieftext {
  		float: right;
  }

  section p {
	font: normal 1.8em/1.3em "Typewriter",Arial,sans-serif;
	text-shadow: 0 1px 1px #fff;
  text-align: justify;
  margin: 0.5em;
  }
}

#jcdavis, #stairmeister, #bloominations, #aqhi { height: 50px;}