<footer class="footer">
  <small>
    <a href="#">TEXT</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "LINK 1",   '#' %></li>
      <li><%= link_to "LINK 2", '#' %></li>
      <li><a href="#">TEXT</a></li>
    </ul>
  </nav>
</footer>